# Ignore Karabiner automatic backups
**/karabiner/private_automatic_backups/
**/karabiner/private_assets/**
# Ignore macOS metadata files
**/.DS_Store
**/dot_DS_Store
# Ignore backup config files
**/*.bak
